<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./../static/style.css') }}">
    <title>Guess Number Game</title>
</head>
<body>
    <section>
        <h1>Welcome to the Great Number Game</h1>
        <h4>I am thinking of a number between 1 and 100</h4>
        <h5>Take a guess!</h5>
        <form action="/results" method="POST">
            <div class="guessInput">
                <input type="text" name="numbers">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div class="gusses" >
            {% if 'results' in session: %}
                {% if session['numResults'] == session['num'] %}
                    <div class="answer">
                        <p>You got it right!</p>
                    </div>
                {% elif session['numResults'] > session['num'] %}
                    <div class="answerHigh">
                        <p>Too Low!</p>
                    </div>
                {% else %} 
                    <div class="answerLow">
                        <p>Too High!</p>
                    </div>
                {% endif %}    
            {% endif %}
        </div>
    </section>
    <!-- <script src="{{ url_for('static', filename='./../static/index.js') }}"></script> -->
</body>
</html>